.column-post {
    background-color: white;
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 1px solid rgba(50, 50, 50, 0.884);

    margin: 10px;

    font-size: 1.1rem;
    color: white;
    background-color: black;
}

.column-meta {
    flex: 1;
    justify-content: center;

    display: flex;
    flex-direction: column;

    .column-title{
        flex: 1;
        justify-content: center;

        padding: 5px 10px;
    }

    .column-date {
        flex: 1;
        justify-content: center;

        padding: 5px 10px;

        font-size: 0.7rem;
        color: gray;
    }
}

.column-tags {
    padding: 5px 10px;
    font-size: 12px;

    a {
        color: white;
    }
    
    a:hover {
        color: white;
    }
}

.column-content {
    padding: 5px 15px;
    font-size: 0.8rem;
}