hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1;
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: white;
}

body {
    background-color: black;
    color: white;
}

code {
    color: green;
    font-size: 0.8rem;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}